<h1>TEST</h1>
{% for product in collections.all.products %}
<h1>{{ product.title }}</h1>
{% form 'product', product %}
<p>{{ product | json }}</p>
 <div>
   <label for="size">Size</label>
   <select name="id" id="product-form-size">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
   </select>
 </div>

 <button type="submit">Add To Cart</button>
{% endform %}
{% endfor %}

{% render 'banner' %}
{% schema %}
  {
    "name": "Banner section",
    "settings": [],
    "presets": [
    {
      "name": "Banner section",
      "category": "Image"
    }
  ]
  }
{% endschema %} 